{% if menu %}
    <ul class="menu__list">
        {% for item in menu %}
            <li class="menu__list-item {{ item.classes|join(' ') }}">
                {% if item.link == '#' %}
                    <span class="menu__link">{{ item.title }}</span>
                {% else %}
                    <a class="menu__link" target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
                {% endif %}
                {% include 'partials/nav-sub-menu.twig' with { 'menu': item.get_children } %}
            </li>
        {% endfor %}
    </ul>
{% endif %}