<section class="news-list">
    <div class="news-list__inner">
        <header class="news-list__header">
            {% if module.eyebrow %}
                <div class="news-list__eyebrow">{{ module.eyebrow }}</div>
            {% endif %}
            <h3 class="news-list__heading">{{ module.heading }}</h3>
            {% if module.link %}
                <a
                    class="business-links__link"
                    href="{{ module.link.url }}"
                    target="{{ module.link.target ? module.link.target : '_self' }}"
                >
                    {{ module.link.title }}
                </a>
            {% endif %}
        </header>
        <div class="news-list__items">
            {% if posts %}
                {% for post in posts %}
                    {% include 'partials/news-item.twig' with { item: post } %}
                {% endfor %}
            {% else %}
                {% for item in module.items %}
                    {% include 'partials/news-item.twig' with { item: item.post } %}
                {% endfor %}
            {% endif %}
            <div class="news-list__item news__item--placeholder"></div>
            <div class="news-list__item news__item--placeholder"></div>
        </div>
        {% if posts%}
            {% include 'partials/pagination.twig' with { pagination: posts.pagination({ show_all: false, mid_size: 3, end_size: 2 }) } %}
        {% endif %}
    </div>
</section>
