<header class="hero">
    <div class="hero__image">
        <img
            class="hero__img"
            src="{{ Image(module.background_image).src('header_large') }}"
            srcset="{{ Image(module.background_image).srcset }}"
            alt="{{ Image(module.background_image).alt }}"
        />
    </div>
    <div class="hero__inner">
        <div class="hero__eyebrow">{{ module.eyebrow }}</div>
        <h2 class="hero__heading">{{ module.heading }}</h2>
        <div class="hero__body">
            {{ module.body }}
        </div>
    </div>
</header>
