<section class="news">
    <div class="news__inner">
        <header class="news__header">
            {% if module.eyebrow %}
                <div class="news__eyebrow">{{ module.eyebrow }}</div>
            {% endif %}
            <h3 class="news__heading">{{ module.heading }}</h3>
            {% if module.button_link and module.button_label %}
                <a class="news__btn" href="{{ module.button_link }}">{{ module.button_label }}</a>
            {% endif %}
        </header>
        <div class="news__items">
            {% for item in module.items %}
                <article class="news__item">
                    <a class="news__item-link" href="{{ item.post.path }}">
                        <div class="news__item-image">
                            <img
                                class="news__item-img"
                                src="{{ item.post.thumbnail.src('large') }}"
                                srcset="{{ item.post.thumbnail.srcset }}"
                                alt="{{ item.post.thumbnail.alt }}"
                            />
                            <div class="news__item-category">{{ item.post.categories[0].name }}</div>
                        </div>
                        <h5 class="news__item-title">{{ item.post.title }}</h5>
                    </a>
                </article>
            {% endfor %}
        </div>
    </div>
</section>
