<section class="spotlight">
    <div class="spotlight__inner">
        <div class="spotlight__eyebrow">{{ module.eyebrow }}</div>
        <h3 class="spotlight__heading">{{ module.heading }}</h3>
        <div class="spotlight__slides">
            <div class="spotlight__slides-wrapper">
                {% if module.links.inner|length %}
                    {% for link in module.links.inner %}
                        <div class="spotlight__slide">
                            <a class="spotlight__link" href="{{ link.path }}">
                                <div class="spotlight__slide-image">
                                    <img
                                        class="spotlight__slide-img"
                                        src="{{ link.thumbnail.src }}"
                                        srcset="{{ link.thumbnail.srcset }}"
                                        alt="{{ link.thumbnail.alt }}"
                                    />
                                </div>
                                <h4 class="spotlight__link-title">{{ link.title }}</h4>
                            </a>
                        </div>
                    {% endfor %}
                {% elseif module.gallery|length %}
                    {% for image in module.gallery %}
                    <div class="spotlight__slide">
                        <div class="spotlight__slide-image">
                            <img
                                class="spotlight__slide-img"
                                src="{{ Image(image).src }}"
                                srcset="{{ Image(image).srcset }}"
                                alt="{{ Image(image).alt }}"
                            />
                        </div>
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
            {% if module.links|length > 1 or module.gallery|length > 1  %}
                <div class="spotlight__nav">
                    <button class="spotlight__prev">
                        <span class="visually-hidden">Previous Slide</span>
                    </button>
                    <button class="spotlight__next">
                        <span class="visually-hidden">Next Slide</span>
                    </button>
                </div>
            {% endif %}
        </div>
    </div>
</section>
