<section class="team-list">
    <div class="team-list__inner">
        {% for item in module.items %}
            <article class="profiles__item">
                <div class="profiles__image">
                    <img
                        class="profiles__img"
                        src="{{ item.team_member.thumbnail.src('large') }}"
                        srcset="{{ item.team_member.thumbnail.srcset }}"
                        alt="{{ item.team_member.thumbnail.alt }}"
                    />
                </div>
                <h6 class="profiles__heading">{{ item.team_member.title }}</h6>
                <div class="profiles__title">{{ item.team_member.meta('title') }}</div>
                {% if item.team_member.meta('biography') %}
                    <div class="profiles__body">
                        {{ item.team_member.meta('biography') }}
                    </div>
                {% endif %}
                {% if item.team_member.meta('biography') %}
                    <button class="profiles__learn-more">Learn more</button>
                {% endif %}
            </article>
        {% endfor %}
    </div>
</section>
