<section class="topic topic--{{ module.type }} topic--{{ module.items|length ? 'with-items' : 'without-items' }}">
    {% if module.type == 'full-image' %}
        <div class="topic__image">
            <img
                class="topic__img"
                src="{{ Image(module.background_image).src('header_large') }}"
                srcset="{{ Image(module.background_image).srcset }}"
                alt="{{ Image(module.background_image).alt }}"
            />
        </div>
    {% endif %}
    <div class="topic__left">
        <div class="topic__inner">
            <header class="topic__header">
                {% if module.eyebrow %}
                    <div class="topic__eyebrow">{{ module.eyebrow }}</div>
                {% endif %}
                <h3 class="topic__heading">{{ module.heading }}</h3>
                {% if module.button_link and module.button_label %}
                    <a class="topic__btn" href="{{ module.button_link }}">{{ module.button_label }}</a>
                {% endif %}
            </header>
        </div>
    </div>
    {% if module.items|length %}
        <div class="topic__right">
            {% if module.type == 'half-image' %}
                <div class="topic__image">
                    <img
                        class="topic__img"
                        src="{{ Image(module.background_image).src('extra_large') }}"
                        srcset="{{ Image(module.background_image).srcset }}"
                        alt="{{ Image(module.background_image).alt }}"
                    />
                </div>
            {% endif %}
            <div class="topic__inner">
                {% for item in module.items %}
                    <article class="topic__item">
                        <a class="topic__item-link" href="{{ item.post.path }}">
                            <div class="topic__item-category">{{ item.post.categories[0].name }}</div>
                            <h5 class="topic__item-title">{{ item.post.title }}</h5>
                        </a>
                    </article>
                {% endfor %}
            </div>
        </div>
    {% endif %}
</section>
